
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background-color:#FFE57E;">

    <br /><br /><br />

    <section id="team" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Our Team</h2>
                <br />
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ชั้นปีที่ 3<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สาขาวิชาเทคโนโลยีสารสนเทศ<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สำนักวิชาเทคโนโลยีสังคม
                </p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img class="rounded" src="~/Content/images/jan2.jpg"></div>
                        <div class="details">
                            <h4>B6070168<br />นิติรัตน์ ขัดผาบ </h4>


                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img class="rounded" src="~/Content/images/a.jpg"></div>
                        <div class="details">
                            <h4>B6070212 <br />เอกฤกษ์ กิจธิมน</h4>


                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img class="rounded" src="~/Content/images/aa.jpg"></div>
                        <div class="details">
                            <h4>B6070236<br />พัชร กกสูงเนิน	</h4>


                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img class="rounded" src="~/Content/images/d.jpg"></div>
                        <div class="details">
                            <h4>B6070281<br />โสภณ นันตะนัย</h4>


                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img class="rounded" src="~/Content/images/pai.jpg"></div>
                        <div class="details">
                            <h4>B6070489<br />ภูมิมินทร์ นาคเสนีย์</h4>


                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img class="rounded" src="~/Content/images/n.jpg"></div>
                        <div class="details">
                            <h4>B6070601<br />กฤษดา เจนประโคน</h4>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #team -->
    <hr>
    <section id="contact" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Contact Us</h2>

            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Address</h3>
                        <address><a href="http://www.sut.ac.th"> Suranaree University of Technology </a></address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:0800436679">080-043-6679</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="Janjan_5653@hotmail.com">Janjan_5653@hotmail.com</a></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855.991089482408!2d102.01850751424153!3d14.881776674115205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311eada1f2cc53f1%3A0x10533e4b3f07a09f!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Liq4Li44Lij4LiZ4Liy4Lij4Li1!5e0!3m2!1sth!2sth!4v1567927081302!5m2!1sth!2sth" width="100%" height="380" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>


    </section><!-- #contact -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")




