
@{
    ViewBag.Title = "accepts";
}

<body style="background-color:#FFE57E;">
    <br /><br /> <br /><br />
    <h4>บทบัญญัติที่บังคับใช้กับการลงรายการสินค้าบนแพลตฟอร์ม</h4>
    <center>



        <textarea class="form-control rounded-0" rows="20" cols="1000" readonly>
            1. ผู้ขายจะมอบเนื้อหา ซึ่งประกอบด้วยข้อมูลผลิตภัณฑ์ข้อความ รูปภาพ และข้อมูลอื่นๆ ทีครบถ้วนสมบูรณ์และถูกต้องอันเกี่ยวข้องกับสินค้าแต่ละประเภทที่ผู้ขายทําให้มีเพื่อนําไปลงรายการเพื่อขายผ่านแพลตฟอร์ม หรือเพื่อนํา ไปใช้ในกิจกรรมอื่นๆ ที่บริษัทจัดให้ในรูปแบบที่บริษัทกำหนดผู้ขายจะอัพเดตเนื้อหาทันทีตามที่จําเป็นเพื่อให้แน่ใจว่าเนื้อหาจะมีความถูกต้องและสมบูรณ์อยเู่สมอ
            2. ผู้ขายจะตรวจสอบให้แน่ใจว่าเนื้อหาข้อเสนอและการขายสินค้าใดๆ ที่ตามมาในภายหลังนั้น เป็นไปตามกฎหมายที่ใช้บังคับ (รวมถึงข้อกําหนดด้านอายุขั้นต่ำเครื่องหมายและข้อบังคับการติดแสดงฉลาก การรับประกันผลิตภัณฑ์ข้อมูลจําเพาะ ภาพวาด ตัวอย่าง และเกณฑ์การปฏิบัติ) และไม่มีภาพที่มีเนื้อหาโจ่งแจ้งในทางเพศหรือเป็นประเด็นอ่อนไหวอันอาจก่อให้เกิดความขัดแย้งในสังคม (ยกเว้นในกรณีที่ได้รับอนุญาตเป็นลายลักษณ์อักษรอย่างชัดเจนจากบริษัท หรือได้รับอนุญาตตามกฎหมายที่ใช้บังคับ) เนื้อหาที่เป็นการหมิ่นประมาทหรือลามกอนาจาร
            3. บริษัทขอสงวนสิทธิ์ในการระงับรายการสินค้าและการขายสินค้าบนแพลตฟอร์มโดยทันทีหากส่วนใดก็ตามของเนื้อหามีความไม่ถูกต้องไม่สมบูรณ์หรือไม่เป็นไปตามกฎหมายที่ใช้บังคับ ตามดุลยพินิจของบริษัทแต่เพียงผู้ดียว
            4. ผู้ขายจะต้องชดใช้และรับผิดชอบมูลค่า (รวมถึงค่าทนายความและค่าใช้จ่ายในศาลอันเป็นค่าเสียหายพื้นฐาน) ค่าใช้จ่าย ค่าปรับ ค่าสินไหมทดแทน ความสูญเสียความเสียหาย และหนี้สินใดๆ ทั้งหมด อันเกิดขึ้นจากการอ้างสิทธิ์การเรียกร้อง หรือการกระทํา อื่นใดที่เป็นผลมาจากข้มูลที่ไม่ถูกต้องไม่สมบูรณ์หรือผิดกฎหมาย หรืออื่นๆ ที่เกี่ยวขอ้งกับ เนื้อหาที่ผู้ขายมอบให้ต่อบริษัท
            5. ดังนั้นผู้ขายจึงต้องรับผิดชอบและแสดงตนว่าผู้ขายได้รับการอนุญาต ใบอนุญาต หรือการอนุมัติทั้งหมดที่จําเป็นต่อการขายสินค้าผ่าทางแพลตฟอร์มแล้ว หรือจะได้รับสิ่งเหล่านั้นก่อนการลงรายการสินค้าบนแพลตฟอร์ม บริษัทขอสงวนสิทธิ์ในการยุติและระงับสถานะของผู้ขายรายดังกล่าวตามดุลยพินิจของริษัท หากผู้ขายฝ่าฝืนข้อกำหนดนี้
            6. ผู้ขายต้องจะต้องฉีดวัคซีนสัตว์เลี้ยงของตนเองให้เรียบร้อยและสามารถตรวจสอบได้ก่อนที่จะทำการลงขายสัตว์เลี้ยง
            7. ลูกค้าต้องแสดงบัตรประจำตัวสัตว์เลี้ยงต่อทางบริษัท ที่แสดงถึงข้อมูล เพศ อายุ รูปภาพ และข้อมูลอื่นที่เกี่ยวข้องกับสัตว์เลี้ยงให้ครบถ้วน
            8. สัตว์เลี้ยงที่จะสามารถลงขายได้ต้องมีอายุไม่ต่ำกว่า 2 อาทิตย์และมีอายุไม่เกิน 5 ปี
            9. บริษัทจะหักรายได้ของผู้ขาย 10% จากราคาทั้งหมดที่ผู้ขายขายสัตว์เลี้ยงได้และหัก 5% จากราคาทั้งหมดที่ผู้ขายขายสินค้าที่นอกเหนือจากสัตว์เลี้ยง


        </textarea>

        <input type="checkbox" name="chk1" id="chk1" value="checkbox" onClick="if(frm.chk1.checked==false){frm.submit.disabled=true;}else{frm.submit.disabled=false;}">
        ยอมรับเงื่อนไข
        </br>
        </br>



        <button type="button" class="btn btn-success">ยืนยัน</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger">ยกเลิก</button>

    </center>
</body>

