
@{
    ViewBag.Title = "accept";
}

<body style="background-color:#FFE57E;">
    <br /> <br /><br /> <br />
    <h4>ข้อกำหนด และเงื่อนไขการบริการ</h4>
    <center>
        <textarea class="form-control rounded-0" rows="30" cols="1000" readonly>
            1. บทนำของนโยบายความเป็นส่วนตัว
            1.1 บริษัทเพ็ตตี้ จำกัด ให้ความสำคัญกับข้อมูลส่วนบุคคลของท่านอย่างจริงจัง บริษัทจะปฏิบัติตามกฎหมายว่าด้วยการรักษาความปลอดภัยข้อมูลส่วนบุคคลตามที่มีผลบังคับใช้กับบริษัท
            1.2 ในระหว่างการให้บริการหรือการเข้าถึงแพลตฟอร์มของบริษัท (ตามที่กำหนดไว้ในข้อกำหนดในการให้บริการ) บริษัทจะรวบรวมข้อมูลรวมถึงข้อมูลส่วนบุคคลของท่าน
            1.3 นโยบายความเป็นส่วนตัวนี้มีไว้เพื่อให้ท่านรับทราบเกี่ยวกับการใช้กระบวนการ และการจัดเก็บข้อมูลของทางบริษัทที่เก็บรวบรวมและได้รับมาระหว่างการให้บริการหรือการเข้าถึงแพลตฟอร์มแก่ท่าน บริษัทจะจัดเก็บรวบรวมใช้ และเปิดเผยข้อมูลความเป็นส่วนตัวตามนโยบายความเป็นส่วนตัวนี้เท่านั้น
            1.4 เป็นสิ่งสำคัญสำหรับท่านที่ต้องอ่านนโยบายความเป็นส่วนตัวนี้กับนโยบายอื่นๆ ที่บังคับใช้ที่ทางบริษัทได้ระบุไว้โดยเฉพาะในเรื่องการรวบรวม และการจัดเก็บข้อมูลความเป็นส่วนตัวของท่าน เพื่อให้ลูกค้าได้ตระหนักว่าทางบริษัทได้เก็บรวบรวมข้อมูลอย่างไรและนำไปใช้ข้อมูลส่วนตัวของท่านอย่างไร
            1.5 การคลิก หรือการเข้าตรวจสอบ "การลงทะเบียน" "ข้าพเจ้ายอมรับถึงนโยบายความเป็นส่วนตัวของบริษัท" หรือ ข้อความอื่นที่คล้ายกันที่หน้าบริการลงทะเบียนของลาซาด้า ลูกค้ายอมรับว่าได้รับการแจ้งและเข้าใจถึงเงื่อนไขของนโยบายความเป็นส่วนตัวนี้และลูกค้าได้ยอมรับในการจัดเก็บและประมวลข้อมูลความเป็นส่วนตัวตามที่ได้อธิบายไว้และภายใต้เงื่อนไขนี้

            1.6 บริษัทอาจมีการเปลี่ยนแปลงนโยบายความเป็นส่วนตัวนี้ได้เป็นคราวๆ ไปการเปลี่ยนแปลงใดๆที่ทางบริษัทจัดมีขึ้นทางบริษัทจะประกาศไว้ในหน้าเพจ หรือที่อื่นที่เหมาะสม หรือแจ้งเตือนแก่ลูกค้าเป็นอีเมล์ ขณะที่ลูกค้าใช้บริการการเข้าถึงแพลตฟอร์ม หรือการเข้าใช้บริการรวมถึงคำสั่งการสั่งซื้อบนแฟลตฟอร์ม
            ถือเป็นการรับทราบและยอมรับถึงการเปลี่ยนแปลงที่ทางบริษัทได้ทำการเปลี่ยนแปลงแก้ไขเรื่องถึงนโยบายความเป็นส่วนตัวนี้ตามที่ได้แจ้งท่านไว้ในอีเมล์ กรุณาตรวจสอบอีเมล์เพื่อดูการเปลี่ยนแปลงหรือการแก้ไขใดๆถึงนโยบายความเป็นส่วนตัว

            1.7 นโยบายความเป็นส่วนตัวใช้กับการประกาศอื่นๆ ข้อสัญญาและข้อความยินยอมที่เกี่ยวกับการเก็บข้อมูล การใช้ และการเปิดเผยข้อมูลสำหรับข้อมูลความเป็นส่วนตัวของท่านต่อบริษัท และจะไม่มีการยกเลิกจนกว่าบริษัทได้กำหนดไว้เป็นอย่างอื่น
            1.8 ท่านสามารถเข้าชมแพลตฟอร์มและเรียกดูโดยไม่ต้องระบุถึงรายละเอียดข้อมูลส่วนตัว อย่างไรก็ตามท่านต้องลงชื่อสมัครเข้าใช้บัญชีหากท่านต้องการใช้บริการต่างๆ หากท่านมีความเห็น ข้อเสนอแนะ หรือการร้องเรียนในเรื่องที่เกี่ยวกับข้อมูลส่วนตัวของท่าน กรุณาติดต่อเจ้าหน้าที่ฝ่ายข้อมูลของบริษัทผ่านทางติดต่อบริษัท บนหน้าเวปไซต์
            2. ข้อมูลส่วนบุคคลที่บริษัทเก็บรวบรวมจากท่าน
            2.1 ข้อมูลความเป็นส่วนตัว หมายถึง ข้อมูลใดๆ ไม่ว่าจะบันทึกอยู่ในรูปแบบข้อมูลเอกสาร หรือไม่ก็ตาม ซึ่งข้อมูลระบุความเป็นตัวตนของบุคคลมีความชัดเจนหรือสามารถระบุได้อย่างสมเหตุผลและตรงไปตรงมาโดยผู้ถือครอบครองข้อมูลหรือเมื่อร่วมกับข้อมูลอื่นโดยตรงและที่สามารถระบุได้อย่างแน่ชัด
            2.2 บริษัทจะเก็บข้อมูลจากท่านดังต่อไปนี้:
            ก. ข้อมูลระบุตัวตน ตัวอย่างเช่น ชื่อของท่าน เพศ วันเกิด
            ข. ข้อมูลติดต่อ ตัวอย่างเช่น ที่อยู่การจัดส่งใบเสร็จ ที่อยู่ในการจัดส่งสินค้า อีเมล์ และเบอร์โทรศัพท์
            ค. ข้อมูลบัญชี ตัวอย่างเช่น บัญชีธนาคาร และรายละเอียดการชำระเงิน
            ง. ข้อมูลการทำธุรกรรม ตัวอย่างเช่น รายละเอียดเกี่ยวกับการชำระเงิแก่ท่านและจากท่าน และรายละเอียดสินค้าและบริการอื่นๆที่ท่านได้ซื้อจากบริษัท
            จ. ข้อมูลส่วนตัว ตัวอย่างเช่น ชื่อผู้ใช้ และรหัสผ่าน การสั่งซื้อหรือคำสั่งซื้อจากท่าน ความสนใจ การตั้งค่า การตอบรับ และการตอบแบบสำรวจ
            ฉ. ข้อมูลการใช้งาน ตัวอย่างเช่น ข้อมูลการเข้าใช้แพลตฟอร์มของท่าน สินค้า และบริการอื่นๆ และ
            ช. ข้อมูลการตลาดและการติดต่อสื่อสาร ตัวอย่างเช่น ความพึงพอใจในการรับข้อมูลการตลาดจากทางบริษัทและ บุคคลภายนอกของบริษัท และความพึงพอใจในการติดต่อสื่อสาร
            2.3 ในระหว่างที่ท่านใช้แพลตฟอร์มและการให้บริการใดๆ ทางบริษัทได้รับข้อมูลส่วนตัวจากท่านในกรณีดังต่อไปนี้ได้:
            ก. เมื่อท่านสร้างบัญชีผู้ใช้กับบริษัท
            ข. เมื่อท่านสมัครใช้การบริการใดๆ หรือการสั่งซื้อสินค้าใดๆ ที่มีอยู่บนแฟลตฟอร์ม
            ค. เมื่อท่านเข้าใช้ถึงรูปแบบและการทำงานที่ปรากฏอยู่บนแพลตฟอร์มและการบริการอื่นๆ ของบริษัท
            ง. เมื่อท่านสมัครรับข้อมูลสื่อโฆษณาหรือหลักประกันด้านการตลาดของบริษัท
            จ. เมื่อท่านได้เข้าร่วมการแข่งขัน ส่วนลด หรือแบบสอบถาม
            ฉ. เมื่อท่านเข้าสู่ระบบด้วยบัญชีผู้ใช้บนแพลตฟอร์มของบริษัท หรือติดต่อบริษัทผ่านทางบริการภายใน หรือแอพพลิเคชั่น ตัวอย่างเช่น เฟสบุ๊ค กูเกิ้ล และ
            ช. เมื่อท่านติดต่อโดยไม่ผ่านระบบออนไลน์ รวมถึงเมื่อท่านติดต่อกับตัวแทนฝ่ายบริการลูกค้าซึ่งเป็นเอาท์ซอร์สจของบริษัท
            2.4 ท่านต้องส่งข้อมูลส่วนตัวซึ่งมีความถูกต้องและไม่เป็นการหลอกลวง และท่านจะแจ้งข้อมูลล่าสุดและแจ้งเมื่อมีการเปลี่ยนแปลงบริษัทมีสิทธิในการเรียกร้องให้ท่านส่งเอกสารเพื่อยืนยันถึงข้อมูลส่วนตัวของท่าน ที่ท่านได้ให้ไว้ ซึ่งเป็นส่วนหนึ่งของกระบวนการตรวจสอบลูกค้าของบริษัท
            2.5 บริษัทจะเก็บข้อมูลความเป็นส่วนตัวของท่าน เมื่อท่านสมัครใจตกลงส่งข้อมูลความเป็นส่วนตัวให้กับบริษัท แต่หากท่านเลือกที่จะไม่ส่งมอบข้อมูลความเป็นส่วนตัวให้แก่บริษัท หรือต่อมายกเลิกความยินยอมของบริษัทในการใช้ข้อมูลความเป็นส่วนตัว บริษัทไม่สามารถให้บริการของบริษัทหรือเข้าถึงแพลตฟอร์มได้
            2.6 ท่านสามารถเข้าสู่ระบบและอัพเดทข้อมูลส่วนบุคคลและส่งมาให้กับบริษัทได้ตลอดเวลาตามที่ได้อธิบายไว้ด้านล่างนี้
            2.7 หากท่านให้ข้อมูลส่วนบุคคลใดๆของบุคคลภายนอก แก่ทางบริษัท ท่านรับรองและรับประกันว่าท่านได้รับความยินยอมจากบุคคลภายนอกที่ท่านได้แชร์และส่งมอบข้อมูลส่วนบุคคลของเขา/เธอ ให้กับบริษัท เพื่อให้บริษัทได้จัดเก็บข้อมูล ใช้ หรือเปิดเผยซึ่งข้อมูลนั้นที่เป็นไปตามนโยบายความเป็นส่วนตัวนี้หากท่านสำหรับใช้บัญชีลาซาด้า โดยผ่านทางช่องทางโซเชียลมีเดียบัญชีอื่นหรือการเชื่อมโยงบัญชีลาซาด้ากับบัญชีโซเชียลมีเดียอื่นของท่านหรือการใช้โซเชียลมีเดียของลาซาด้าในรูปแบบอื่น บริษัทสามารถเข้าถึงข้อมูลส่วนบุคคลของท่านซึ่งท่านสมัครใจได้ให้ไว้กับผู้ให้บริการโซเชียลมีเดียตามนโยบายของผู้ให้บริการและบริษัทจะจัดการกับข้อมูลส่วนบุคคลของท่านให้เป็นไปตามนโยบายความเป็นส่วนตัวนี้
            2.8 หากท่านสำหรับใช้บัญชีเพ็ตตี้ โดยผ่านทางช่องทางโซเชียลมีเดียบัญชีอื่นหรือการเชื่อมโยงบัญชีเพ็ตตี้กับบัญชีโซเชียลมีเดียอื่นของท่าน หรือการใช้โซเชียลมีเดียของลาซาด้าในรูปแบบอื่น บริษัทสามารถเข้าถึงข้อมูลส่วนบุคคลของท่านซึ่งท่านสมัครใจได้ให้ไว้กับผู้ให้บริการโซเชียลมีเดียตามนโยบายของผู้ให้บริการและบริษัทจะจัดการกับข้อมูลส่วนบุคคลของท่านให้เป็นไปตามนโยบายความเป็นส่วนตัวนี้
            3. การใช้และการเปิดเผยข้อมูลส่วนบุคคล
            3.1 ข้อมูลส่วนบุคคลที่บริษัทเก็บมาจากท่านจะนำไปใช้โดยบริษัท หรือแชร์ หรือส่งมอบให้กับบุคคลภายนอก (รวมถึงบริษัทที่เกี่ยวข้องผู้ให้บริการซึ่งเป็นบุคคลภายนอกและผู้ให้บริการและบริษัทที่เกี่ยวข้องของบุคคลภายนอก และผู้ขายซึ่งเป็นบุคคลภายนอก) สำหรับบางส่วนหรือทั้งหมดเพื่อวัตถุประสงค์ดังต่อไปนี้
            ก. เพื่ออำนวยความสะดวกในการใช้บริการและการเข้าถึงแพลตฟอร์มรวมถึงการตอบข้อสงสัย ข้อเสนอแนะ การเรียกร้อง หรือข้อพิพาทผ่านทางตัวแทนบริการลูกค้าซึ่งเป็นบุคคลภายนอก
            ข. เพื่อดำเนินการตามคำสั่งซื้อของท่านผ่านแพลตฟอร์มไม่ว่าจะเป็นสินค้าที่จัดจำหน่ายโดยบริษัทหรือจากผู้ขายซึ่งเป็นบุคคลภายนอกจัดจำหน่าย
            ค. การชำระเงินค่าสินค้าที่ท่านชำระผ่านแพลตฟอร์มไม่ว่าจัดจำหน่ายโดยบริษัทหรือผู้ขายซึ่งเป็นบุคคลภายนอก จะถูกดำเนินการโดยตัวแทนของทางบริษัท
            ง. การส่งมอบสินค้าที่ท่านสั่งซื้อผ่านแพลตฟอร์มไม่ว่าจำหน่ายโดยบริษัทหรือผู้ขายซึ่งเป็นบุคคลภายนอก บริษัทจะส่งข้อมูลส่วนตัวให้กับบุคคลภายนอกเพื่อทำการจัดส่งสินค้าให้แก่ท่าน (ตัวอย่างเช่นให้แก่ผู้จัดส่งหรือผู้จัดจำหน่ายของบริษัท) ไม่ว่าสินค้านั้นจำหน่ายผ่านแพลตฟอร์มโดยบริษัทหรือ ผู้ขายซึ่งเป็นบุคคลภายนอก
            จ. เพื่ออัพเดทการส่งมอบสินค้าแก่ท่านไม่ว่าสินค้านั้นจำหน่ายผ่านแพลตฟอร์มโดยบริษัทหรือโดยผู้ขายซึ่งเป็นบุคคลภายนอก และเพื่อวัตถุประสงค์ในการสนับสนุนลูกค้า
            ฉ. เปรียบเทียบข้อมูลและยืนยันกับบุคคลภายนอกเพื่อยืนยันความถูกต้องของข้อมูล
            ช. ให้กับผู้จัดการบัญชีของท่าน (ถ้ามี) กับทางบริษัท
            ซ. เพื่อตรวจสอบและทำธุรกรรมทในการชำระเงินที่ท่านได้ทำผ่านระบบออนไลน์
            ฌ. เพื่อตรวจสอบการดาวน์โหลดข้อมูลจากแพลตฟอร์ม
            ญ. เพื่อปรับปรุงรูปแบบหรือเนื้อหาของหน้าเว็บเพจบนแพลตฟอร์มเเละปรับเปลี่ยนให้กับผู้ใช้
            ฎ. เพื่อระบุผู้เข้าชมบนแพลตฟอร์ม
            ฏ. เพื่อทำการวิจัยเกี่ยวกับข้อมูลประชากรและพฤติกรรมของผู้ใช้
            ฐ. เพื่อเสนอข้อมูลที่บริษัทเห็นว่าเป็นประโยชน์หรือที่ท่านร้องขอจากบริษัท รวมถึงข้อมูลเกี่ยวกับผู้ขายสินค้าและบริการของบุคคลภายนอกซึ่งการให้ข้อมูลนี้ท่านได้ยืนยันว่าท่านไม่มีวัตถุประสงค์ที่จะนำไปติดต่อเพื่อจุดประสงค์เหล่านี้
            ฑ. ตามที่ได้รับความยินยอมจากท่านตามกฎหมายที่มีผลบังคับใช้กับบริษัท บริษัทอาจใช้ข้อมูลส่วนบุคคลของท่าน เพื่อส่งเอกสารการตลาดหรือการส่งเสริมการขายเกี่ยวกับผลิตภัณฑ์และบริการของทางบริษัทหรือผู้ขายซึ่งเป็นบุคคลที่สามเป็นคราวคราวไป
            ฒ. ทางบริษัทอาจดำเนินการตัดสินใจให้โดยอัตโนมัติเพื่อให้เป็นไปตามวัตถุประสงค์ใดๆนี้
            3.2 ท่านสามารถยกเลิกการติดตามการรับข้อมูลการตลาดได้ตลอดระยะเวลาโดยใช้ตัวเลือกยกเลิกการติดตามในส่วนของเนื้อหาการตลาดอิเล็กทรอนิกส์ บริษัทอาจใช้ข้อมูลติดต่อของท่านเพื่อส่งจดหมายจากทางบริษัทและจากบริษัทที่เกี่ยวข้อง
            3.3 ในกรณียกเว้น ทางบริษัทอาจต้องเปิดเผยข้อมูลส่วนบุคคล ตัวอย่างเช่นเมื่อมีเหตุอันควรเชื่อว่าการเปิดเผยข้อมูลนั้นมีความจำเป็นในการป้องกันภัยคุกคามต่อชีวิตหรือสุขภาพหรือเพื่อวัตถุประสงค์ในการบังคับใช้กฎหมาย หรือเพื่อให้เป็นไปตามกฎหมาย และตามข้อกำหนดและข้อเรียกร้องใดๆ
            4. การเพิกถอนความยินยอม และการให้ลบหรือทำข้อมูลให้เป็นนิรนามซึ่งข้อมูลส่วนบุคคล
            4.1ท่านอาจแจ้งการเพิกถอนการให้ความยินยอมของท่านในการใช้หรือเปิดเผยข้อมูลส่วนบุคคลในวัตถุประสงค์ใดๆ หรือในลักษณะที่ได้ระบุไว้ข้างต้นได้ตลอดเวลา หรือร้องขอให้ลบหรือทำข้อมูลให้เป็นนิรนามซึ่งข้อมูลส่วนบุคคลโดยติดต่อเจ้าหน้าที่ป้องกันข้อมูลส่วนบุคคลตามรายละเอียดการติดต่อที่ได้ระบุไว้ด้านบน
            4.2โปรดทราบว่าหากท่านแจ้งเตือนการเพิกถอนการให้ความยินยอมในการใช้หรือเปิดเผยข้อมูลส่วนบุคคลเพื่อจุดประสงค์หรือในลักษณะที่ระบุไว้ข้างต้นหรือร้องขอให้ลบหรือทำข้อมูลให้เป็นนิรนามซึ่งข้อมูลส่วนบุคคลของท่านทางบริษัทอาจไม่สามารถให้บริการสินค้าหรือบริการอื่นๆแก่ท่านหรือปฏิบัติตามสัญญาใดๆที่มีกับท่าน และบริษัทจะไม่รับผิดในกรณีที่บริษัทไม่ได้ให้บริการสินค้าหรือการบริการของบริษัทแก่ท่านหรือปฏิบัติตามสัญญาที่มีกับท่าน บริษัทมีสิทธิตามกฏหมายและการเยียวยาใดๆ ทางบริษัทขอสงวนไว้ซึ่งเหตุดังกล่าวนี้

            5. การแก้ไขเพิ่มเติมข้อมูลส่วนบุคคล
            5.1 เป็นสิ่งสำคัญที่ท่านต้องให้ข้อมูลส่วนบุคคลที่ถูกต้อง ท่านมีหน้าที่ในการแจ้งหากมีการเปลี่ยนแปลงซึ่งข้อมูลส่วนบุคคลของท่าน หรือในกรณีที่ท่านเชื่อว่าข้อมูลส่วนตัวของท่านที่ทางบริษัทมีไม่ถูกต้อง ไม่สมบูรณ์หรืออาจทำให้เข้าใจผิดหรือเป็นข้อมูลเก่า ท่านสามารถอัพเดทข้อมูลส่วนบุคคลได้ตลอดเวลาโดยการเข้าจากบัญชีท่านไปที่แพลตฟอร์ม หากท่านไม่สามารถทำการอัพเดทข้อมูลส่วนบุคคลผ่านทางบัญชีของท่านได้ ท่านสามารถติดต่อเจ้าหน้าที่ป้องกันข้อมูลส่วนตัว ตามรายละเอียดการติดต่อที่ได้ให้ไว้ด้านบนนี้
            6. การเข้าถึงข้อมูลส่วนบุคคลของท่าน
            6.1 หากท่านต้องการขอทราบข้อมูลเกี่ยวกับข้อมูลส่วนตัวของท่านที่ทางบริษัทได้เก็บไว้หรือมีข้อสงสัยในวิธีการเก็บข้อมูลที่ได้ใช้หรือได้เปิดเผยโดยทางบริษัทในปีที่ผ่านมา กรุณาติดต่อเจ้าหน้าที่ป้องกันข้อมูลส่วนตัวตามรายละเอียดติดต่อที่ได้ให้ไว้ด้านบน เพื่อความรวดเร็วในการดำเนินตามคำขอของท่านอาจมีความจำเป็นในการขอข้อมูลเพิ่มเติมตามคำขอของท่าน
            6.2 ทางบริษัทขอสงวนสิทธิ์ในการเรียกเก็บค่าดำเนินการสำหรับการดึงข้อมูลส่วนตัวของท่านที่ได้บันทึกไว้ หากเป็นกรณีเช่นนั้นทางบริษัทจะแจ้งให้ท่านทราบถึงค่าดำเนินการก่อนที่บริษัทจะดำเนินการตามคำขอของท่าน
            7. ความปลอดภัยของข้อมูลส่วนตัวของท่าน
            7.1 เพื่อป้องกันข้อมูลส่วนบุคคลของท่านจากบุคคลผู้ไม่มีอำนาจเข้าถึง การเก็บ ใช้ เปิดเผย ทำซ้ำ แก้ไข จำหน่าย หรือ ความเสี่ยงในทำนองเดียวกันของข้อมูลทางบริษัทได้นำมาตรการการจัดการ ทางกายภาพและด้านเทคนิคที่เหมาะสมมาใช้ ตัวอย่างเช่น
            ก. การจำกัดการเข้าถึงข้อมูลส่วนบุคคลให้กับบุคคลที่ต้องการเข้าใช้
            ข. ติดตั้งผลิตภัณฑ์เทคโนโลยีเพื่อป้องกันการเข้าถึงคอมพิวเตอร์โดยไม่ได้รับอนุญาต
            ค. ลบหรือไม่ระบุข้อมูลส่วนบุคคลของท่านให้เป็นไปตามมาตรฐานที่กฎหมายบังคับใช้ เมื่อไม่ต้องการใช้เพื่อวัตถุประสงค์ทางกฎหมายหรือธุรกิจอีกต่อไป และ
            7.2 หากท่านเชื่อว่าความเป็นส่วนตัวของท่านถูกละเมิดโดยเพ็ตตี้ กรุณาติดต่อเจ้าหน้าที่ป้องกันข้อมูลความเป็นส่วนตัวตามรายละเอียดติดต่อที่ให้ไว้ด้านบน
            7.3 ท่านควรระวังไว้ด้วยว่าไม่มีวิธีการใดของส่งข้อมูลผ่านทางระบบอินเตอร์เน็ตหรือวิธีการจัดเก็บข้อมูลอิเล็กทรอนิกส์ที่มีความปลอดภัยอย่างสมบูรณ์ ในขณะที่ความปลอดภัยไม่สามารถเป็นตัวรับรองได้แต่บริษัทจะพยายามป้องกันความปลอดภัยถึงข้อมูลและตรวจสอบและปรับปรุงมาตการการรักษาความปลอดภัยอยู่เสมอ
            7.4 รหัสผ่านของท่านเป็นกุญแจสำคัญสำหรับการเข้าใช้บัญชี กรุณาใช้ตัวเลขตัวอักษรและเครื่องหมายพิเศษที่มีความเฉพาะ และกรุณาห้ามแชร์รหัสผ่านเพ็ตตี้ของท่านกับใคร หากท่านใช้รหัสผ่านของท่านกับบุคคลอื่น ท่านมีหน้าที่ต้องรับผิดชอบต่อการกระทำที่เกิดขึ้นจากบัญชีชื่อของท่านและผลกระทบนั้นๆ หากท่านเสียการควบคุมซึ่งรหัสผ่านหรือเสียการควบคุมถึงข้อมูลส่วนตัว หรือข้อมูลอื่นๆที่ได้ส่งให้กับเพ็ตตี้ ถือว่าท่านต้องรับผิดชอบและมีผลผูกพันต่อการกระทำนั้นตามกฎหมาย ดังนั้นหากรหัสผ่านของท่านถูกเปลี่ยนด้วยเหตุผลใดก็ตามหรือหากท่านมีเหตุผลอันควรเชื่อว่ารหัสผ่านของท่านถูกเปลี่ยนแปลงให้ท่านติดต่อกับทางบริษัทและขอเปลี่ยนรหัสผ่านทันที บริษัทขอเตือนให้ท่านออกจากระบบบัญชีผู้ใช้และปิดหน้าค้นหาหลังจากที่ท่านได้ใช้คอมพิวเตอร์ที่ใช้ร่วมกันกับบุคคลอื่น

            8. การเก็บรักษาข้อมูลส่วนบุคคล
            8.1 บริษัทจัดเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้ตราบเท่าที่จำเป็นหรือตามกฎหมายหรือเท่าที่มีความจำเป็นตามวัตถุประสงค์ที่ได้มีการเก็บข้อมูลนั้นไว้
            8.2 บริษัทจะหยุดการเก็บข้อมูลความเป็นส่วนตัวหรือลบข้อมูลที่มีความเชื่อมโยงกับท่านตามที่มีเหตุผลพอสมควรที่จะถือว่าการเก็บข้อมูลดังกล่าวไม่ได้มีไว้เพื่อวัตถุประสงค์ตามที่ได้เก็บข้อมูลไว้ก่อนนี้และไม่มีความจำเป็นต่อกฎหมายหรือต่อวัตถุประสงค์ทางธุรกิจอีกต่อไป
            9. การเก็บข้อมูลของระบบ
            9.1 บริษัทหรือผู้ให้บริการที่มีอำนาจอาจใช้คุกกี้หรือเว็บบีคอนหรือระบบเทคโนโลยีอื่นๆ เพื่อทำการจัดเก็บข้อมูลเพื่อให้สามารถให้บริการท่านได้ดี รวดเร็ว ปลอดภัย และเป็นส่วนตัวมากขึ้นเมื่อท่านเข้าใช้บริการหรือเข้าใช้แพลตฟอร์ม
            9.2เมื่อท่านเข้าใช้แพลตฟอร์มผ่านคอมพิวเตอร์ของท่านหรืออุปกรณ์โทรศัพท์หรือเครื่องมือชนิดอื่นๆด้วยระบบอินเตอร์เน็ตnระบบเซิร์ฟเวอร์ของบริษัทจะทำการบันทึกข้อมูลโดยอัตโนมัติ ซึ่งบราวเซอร์ของท่านจะส่งไม่ว่าเวลาใดที่ท่านเข้าสู่เว็บไซต์ โดยอาจมีข้อมูลดังต่อไปนี้รวมอยู่ด้วย
            ก. ไอพีแอดเดรสของคอมพิวเตอร์หรืออุปกรณ์สื่อสาร
            ข. ประเภทของเบราว์เซอร์
            ค. หน้าเว็บเพจที่ท่านได้เข้าชมก่อนที่ท่านจะเข้ามาที่แพลตฟอร์มของบริษัท
            ง. หน้าเพจภายในแพลตฟอร์มที่ท่านเข้าชม
            จ. เวลาที่ใช้ในหน้าเพจรายการและข้อมูลที่ค้นหาบนแพลตฟอร์ม วันและเวลาที่เขาใช้และสถือติอื่นๆ
            9.3 ข้อมูลที่จัดเก็บเพื่อการวิเคราะห์และประมวลผลเพื่อนำไปใช้ในการปรับปรุงเว็บไซต์และการบริการและสินค้าที่บริษัทได้ให้บริการ
            10. สิทธิของเพ็ตตี้ในการเปิดเผยข้อมูลส่วนบุคคล
            10.1 ท่านรับทราบและยอมรับว่าเพ็ตตี้มีสิทธิ์ในการเปิดเผยข้อมูลส่วนตัวของท่านในกรณีที่มีกฎหมายกฎระเบียบรัฐบาลภาษี การบังคับใช้กฎหมายหรือต่อผู้มีอำนาจหรือต่อเจ้าของผู้มีสิทธิ์หรือในกรณีที่มีเหตุผลอันสมควรที่เพ็ตตี้เชื่อว่าการเปิดเผยข้อมูลส่วนบุคคลมีความจำเป็นเพื่อวัตถุประสงค์ในการปฎิบัติตามหน้าที่ข้อกำหนด หรือการร่วมมือใดไม่ว่าจะโดยสมัครใจหรือได้รับคำสั่งมาเพื่อให้ความร่วมมือตามคำสั่งการสืบสวนและหรือตามที่ร้องขอจากบุคคลเหล่านั้นตามขอบเขตที่ได้รับอนุญาตตามกฎหมายที่บังคับใช้ท่านตกลงยินยอมจะไม่กระทำการใดใดและหรือสละสิทธิ์ของท่านที่จะกระทำการใดต่อลาซาด้าสำหรับการเปิดเผยข้อมูลส่วนตัวตามสถานการณ์เช่นว่านี้
            10.2 หน้าเว็บไชต์ของบุคคลภายนอกแพลตฟอร์มอาจมีลิงก์เชื่อมไปยังเว็บไซต์อื่นๆ ที่ดำเนินการโดยบุคคลภายนอกเช่น บริษัทในเครือร้านค้าหรือรับชำระค่าบริการธุรกรรมทางการเงินต่างๆ บริษัทไม่มีส่วนรับผิดชอบต่อการรักษาความเป็นส่วนตัวของเว็บไซต์ที่ดำเนินการโดยบุคคลภายนอกดังกล่าวนี้ บริษัทแนะนำให้ท่านตรวจสอบถึงนโยบายส่วนบุคคลของเว็บไซต์ต่างๆนั้นเพื่อดูว่ามีวิธีการจัดการกับข้อมูลที่เก็บรวมรวบไปรับจากท่านอย่างไร

        </textarea>

        @*<input type="checkbox" name="chk1" id="chk1" value="checkbox" onClick="if (frm.chk1.checked == false) { frm.ยืนยัน.disabled = true; } else { frm.ยืนยัน.disabled = false; }">
            ยอมรับเงื่อนไข*@

        <input type="checkbox" name="chkOK" value="Y" OnClick="if(this.checked){document.getElementById('ยืนยัน').disabled = false;}else{document.getElementById('ยืนยัน').disabled = true;}">ยอมรับเงื่อนไข
        </br>
        </br>


        @Html.ActionLink("ยืนยัน", "registers", "Account", null, new { @class = "btn btn-success" })&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("ยกเลิก", "Index", "Home", null, new { @class = "btn btn-danger" })

    </center>
</body>

