@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Confirmation</h1> <br />

<h2>Your order has been submitted.</h2> <br />
<p>
    We will contact you when the product has been shipped.
    For cancellation please contact sale@7elephant.com Tel 029-999-9999

</p>

@Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-info" })





