
@{
    ViewBag.Title = "InputDetailsBuy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
@using (Html.BeginForm("Save_Order", "ShoppingCart", FormMethod.Post))
{

        <div class="row">
            <div class="text-center">
                You Information: <br /><br />
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">

                <label class="controllabel">Please Enter Credit Card Number : </label><input type="text" name="credit_card" id="credit_card" class="form-control" />

            </div>
            <div class="form-group">
                <label class="controllabel">Please Enter Your Address : </label><input type="text" name="credit_card" id="credit_card" class="form-control style="width:100px;height:68px" />
            </div>

        </div>
        <br />

        <div class="row">
            <input type="submit" value="Place Order" class="btn btn-success pullright" />
            &nbsp;      <center>   <input type="submit" value="Cancel" class="btn btn-danger pullright" /></center>
        </div>
}


