
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{
    ViewBag.Title = "ManagamentUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
\\\\\\\\
@*<h2>ManagamentUser</h2>*@
<head>
    <meta charset="utf-8">
    <script type="text/javascript">
     function showImagePreview(input) {
          if (input.files && input.files[0]) {
          var filerdr = new FileReader();
          filerdr.onload = function (e) {
             $('#imgPreview').attr('src', e.target.result);
          }
            filerdr.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>

<br /><br /><br /><br />
<div class="row">
    <div class="col-6">
        <div class="alert alert-dismissible alert-warning text-dark">
            <br />
            <div class="row">
                <br />
                <div class="col-2">
                    &nbsp;&nbsp;<img src="~/Content/images/human.png" style="width: 40px">
                </div>
                <div class="col-6">
                    <select id="inputState" class="form-control">
                        <option selected>ร้านค้า</option>
                        <option>ผู้ใช้งานทั่วไป</option>
                        <option>ร้านค้า</option>
                    </select>
                </div>
            </div>
            <br /><br />
            <table class="table table-striped text-dark">

                <tbody>
                    <tr>
                        <th scope="row">ชื่อผู้ใช้งาน</th>
                        <td>สถานะ</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>ออนไลน์</td>
                        <td> <button type="button" class="btn btn-success">ข้อมูล</button> </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td> <button type="button" class="btn btn-success">ข้อมูล</button></td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>


    <div class="col-6">
        <div class="alert alert-dismissible alert-warning text-dark">
            <br />
            <h6 class="alert-heading"><img src="~/Content/images/data.png" style="width: 40px"> &nbsp;ข้อมูล</h6>
            <br /><br />

            <table>
                <tr>
                    <td>
                        <small for="staticEmail" class="col-sm-2 col-form-label">E-mail</small>
                        <div class="col-sm-12">

                            <input type="text" class="form-control" placeholder="" id="inputDefault">
                        </div>
                    </td>
                    <td>
                        <small for="staticEmail" class="col-sm-2 col-form-label">รหัสผ่าน</small>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="" id="inputDefault">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <small for="staticEmail" class="col-sm-2 col-form-label">ชื่อ</small>
                        <div class="col-sm-12">

                            <input type="text" class="form-control" placeholder="" id="inputDefault">
                        </div>
                    </td>
                    <td>
                        <br />
                        <small for="staticEmail" class="col-sm-2 col-form-label">เบอร์โทรศัพท์</small>
                        <div class="col-sm-12">

                            <input type="text" class="form-control" placeholder="" id="inputDefault">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <small for="staticEmail" class="col-sm-2 col-form-label" style="height: 100px;">ที่อยู่</small>
                        <div class="col-sm-12">

                            <input type="text" class="form-control" placeholder="" id="inputDefault">
                        </div>
                        <br />
                        <hr />
                    </td>
                    <td>
                        <br />
                        <small for="staticEmail" class="col-sm-2 col-form-label">เบอร์โทรศัพท์</small>
                        <div class="col-sm-12">

                            <input type="text" class="form-control" placeholder="" id="inputDefault">
                        </div>
                        <br />
                        <hr />
                    </td>

                </tr>
                <tr>
                    <td>
                        <small for="staticEmail" class="col-sm-2 col-form-label">เลขบัตรประชาชน</small>
                        <div class="col-sm-12">

                            <input type="text" class="form-control" placeholder="" id="inputDefault">
                        </div>
                    </td>
                    <td>
                        <small for="staticEmail" class="col-sm-2 col-form-label">ชื่อบัญชีธนาคาร</small>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="" id="inputDefault">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <small for="staticEmail" class="col-sm-2 col-form-label">ธนาคาร</small>
                        <div class="col-sm-12">

                            <input type="text" class="form-control" placeholder="" id="inputDefault">
                        </div>
                    </td>
                    <td>
                        <br />
                        <small for="staticEmail" class="col-sm-2 col-form-label">เลขบัญชีธนาคาร</small>
                        <div class="col-sm-12">

                            <input type="text" class="form-control" placeholder="" id="inputDefault">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <small for="staticEmail" class="col-sm-2 col-form-label">รูปภาพ</small>
                        <div class="card" style="width: 18rem; height: 18rem;">
                            <img id="imgPreview" class="card-img-top" style="width: 18rem;  height: 18rem;">
                        </div>
                        <label for="exampleFormControlFile1">อัพโหลดไฟล์</label><br />
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" onchange="showImagePreview(this)" />

                    </td>
                </tr>
            </table>
            <center>
                <br /><br /><br />
                <button type="button" class="btn btn-danger">อัพเดต</button> &nbsp;&nbsp;
                <button type="button" class="btn btn-danger">บล็อค</button>
                <br /><br />
            </center>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
